include LICENSE
include MANIFEST.in
include *.rst
recursive-include ryu *.xsd
graft doc
graft etc
graft tools
recursive-exclude doc/build *
recursive-exclude tests/*
global-exclude *~
global-exclude *.pyc
global-exclude .gitignore
